---
import "./hero.css";
---

<div class="hero">
  <div class="container">
    <h1>Driving Growth</h1>
    <h2>
      Tailored Digital Marketing, Agile Recruitment, and Advanced Education
    </h2>
  </div>
</div>
