---
import "./aboutus.css";
---

<section class="about_us">
  <div class="px">
    <h2>About Us</h2>
    <p>
      As a facility management company with headquarters in London, we have kept
      growing our network of cleaning and training facilities throughout the
      city while offering highly valuable personnel supply services that help
      our clients overcome their operational difficulties.
    </p>

    <a href="contact"><p>Contact Us</p></a>
  </div>
</section>
