.flex {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
}

.flex.flex_reverse {
  flex-direction: row-reverse;
}

.flex .flex_child {
  flex-basis: 50%;
  overflow: hidden;
}

.flex .flex_child h4 {
  margin-bottom: 20px;
}

.flex .flex_child img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.services p {
  margin-bottom: 20px;
}

.services ul {
  list-style: disc !important;
  padding-inline: 20px;
}

.services .flex .flex_child .flex_image {
  max-height: 500px;
  overflow: hidden;
  border-radius: 20px;
}

.flex_texts_with_bg {
  padding: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .flex {
    gap: 10px;
    margin-bottom: 40px;
  }
  .flex,
  .flex.flex_reverse {
    flex-direction: column;
  }

  .flex .flex_child {
    flex-basis: 100%;
    width: 100%;
  }

  .flex .flex_child h4 {
    margin-bottom: 10px;
  }

  .services .flex .flex_child .flex_image {
    max-height: 300px;
  }
}
