---
import "./overview.css";
---

<div class="overview">
  <h3>An Overview of Our History</h3>
  <p>
    INTELECTIVA Limited is a consultancy firm established in the United Kingdom.
    One of the primary motivations for its inception was to assist businesses
    and entrepreneurs in maximizing the potential of their resources. The
    company is a spin-off of other consultancies and has unfettered access to a
    reservoir of intellectual talents from a variety of industries. This
    extensive network of associates allows us to give one-of-a-kind and
    unequivocal services that assure customer satisfaction and endear us to our
    clientele.
  </p>

  <p>
    As a business and management consultancy, we excel at understanding the
    basic ideas that underpin successful business and management processes. Our
    expert consultants use these 'fundamentals' to produce ethical and unique
    solutions that provide a competitive advantage. As a result of our intense
    concentration.
  </p>

  <p>
    Our knowledge of the essential concepts that guarantee effective management
    and business operations is what makes us a strong business and management
    consulting firm. These 'fundamentals' are the foundation upon which our
    knowledgeable advisors design unique, moral' solutions' that provide
    businesses a competitive edge. Thus, we place a high priority on marketing,
    company strategy, and human resource development.
  </p>
</div>
