---
import "../index.css";
import Nav from "../components/nav/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="Intelectiva, Doyin Babajide, Doyin Babajide - Business Development Manager, intelectiva.co.uk, United Kingdom Admission, UK Admission, Study in UK, Study in United Kingdom, United Kingdom Admission, UK Admission, Overseas Education, Japa, Study Abroad, Nigeria Education, digital marketing, strategic collaboration, cleaning services, higher education advisory, Shokunbi Micheal, Shokunbi Micheal Upgraded, Upgraded Graphics, Upgraded Media, Web Developer, Web Design, Shokunbi Micheal Nigeria"
    />
    <title>Intelectiva</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
