---
import "./nav.css"
---


<nav>
<div class="logo">Intelectiva</div>
<ul>
    <li>
    <a href="#">
        Home
    </a>    
    </li>
    <li>
    <a href="#">
        About
    </a>    
    </li>
    <li>
    <a href="#">
        Services
    </a>    
    </li>
    <li>
    <a href="#">
        Contact
    </a>    
    </li>
</ul>
</nav>